body {
    color: #eee;
    background: #121212;
  }
  body a {
    color: #809fff;
  }
#forecast {
    display: inline-flex;
    flex-direction: row;
}

.forecast-week {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.forecast-card {
    text-align: center;
    border: grey solid 1px;
    padding: 1rem;
    width: 10rem;
    height: 25rem;
    margin: 1rem;
    box-shadow: 3px 4px #e04b52; 
}

.forecast-card img {
    width: 100%;
    height: 10em;
}

#forecast_card_template {
    display: none;
}

.forecast-mouseover {
    z-index: 1;
    display:none;
    position:fixed;
    overflow:hidden;
    text-align: center;
    border: grey solid 1px;
    padding: 1rem;
    margin: 1rem;
    box-shadow: 3px 4px #e04b52; 
    background-color: #121212;
}

.forecast-mouseover:hover {
    display:block;

}

